# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [6]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [21]:
# Your code here:

pokemon['Legendary'].value_counts()

Legendary
False    735
True      65
Name: count, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [30]:
# Your code here:

legendary = pokemon[pokemon['Legendary']==True]
regular = pokemon[pokemon['Legendary']==False]


print(f'La media de los legendarios es',legendary.Total.mean(),'y la desviación',legendary.Total.std())
print(f'La media de los normales es',regular.Total.mean(),'y la desviación',regular.Total.std())

La media de los legendarios es 637.3846153846154 y la desviación 60.93738905315344
La media de los normales es 417.21360544217686 y la desviación 106.76041745713005

Tambien podemos verlo así

In [31]:
legendary.describe().T

            count        mean         std    min    25%    50%    75%    max
#            65.0  470.215385  173.651095  144.0  381.0  483.0  642.0  721.0
Total        65.0  637.384615   60.937389  580.0  580.0  600.0  680.0  780.0
HP           65.0   92.738462   21.722164   50.0   80.0   91.0  105.0  150.0
Attack       65.0  116.676923   30.348037   50.0  100.0  110.0  131.0  190.0
Defense      65.0   99.661538   28.255131   20.0   90.0  100.0  115.0  200.0
Sp. Atk      65.0  122.184615   31.104608   50.0  100.0  120.0  150.0  194.0
Sp. Def      65.0  105.938462   28.827004   20.0   90.0  100.0  120.0  200.0
Speed        65.0  100.184615   22.952323   50.0   90.0  100.0  110.0  180.0
Generation   65.0    3.769231    1.455262    1.0    3.0    4.0    5.0    6.0

In [32]:
regular.describe().T

            count        mean         std    min    25%    50%    75%    max
#           735.0  353.315646  208.590419    1.0  175.5  346.0  533.5  715.0
Total       735.0  417.213605  106.760417  180.0  324.0  425.0  498.0  700.0
HP          735.0   67.182313   24.808849    1.0   50.0   65.0   79.5  255.0
Attack      735.0   75.669388   30.490153    5.0   54.5   72.0   95.0  185.0
Defense     735.0   71.559184   30.408194    5.0   50.0   66.0   85.0  230.0
Sp. Atk     735.0   68.454422   29.091705   10.0   45.0   65.0   85.0  175.0
Sp. Def     735.0   68.892517   25.669310   20.0   50.0   65.0   85.0  230.0
Speed       735.0   65.455782   27.843038    5.0   45.0   64.0   85.0  160.0
Generation  735.0    3.284354    1.673471    1.0    2.0    3.0    5.0    6.0

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

H0 : no hay diferencia \
H1 : si hay diferencia

In [41]:
# Your code here:

from scipy.stats import ttest_ind

ttest_ind(legendary.Total, regular.Total, equal_var=False)

TtestResult(statistic=25.8335743895517, pvalue=9.357954335957444e-47, df=102.79988763435729)

What do you conclude from this test? Write your conclusions below.

- Hay evidencia estadísticamente significativa para afirmar que hay diferencia significativa entre los pokemon legendarios y los regulares

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [40]:
# Your code here:

types = pokemon['Type 1']

types.value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [82]:
# Your code here:

water_pokemon = pokemon[(pokemon['Type 1'] == 'Water') | (pokemon['Type 2'] =='Water')]
other_pokemon = pokemon[(pokemon['Type 1'] != 'Water') & (pokemon['Type 2'] !='Water')]
print(f'La media de los pokemon de agua es',water_pokemon.Total.mean(),'y la media del resto es de',other_pokemon.Total.mean())
print(f'La desciación estándar de los pokemon de agua es',water_pokemon.Total.std(),'y la media del resto es de',other_pokemon.Total.std())

La media de los pokemon de agua es 429.0952380952381 y la media del resto es de 436.22551928783383
La desciación estándar de los pokemon de agua es 111.97867143855055 y la media del resto es de 121.44323863275002

In [88]:
len(other_pokemon),len(water_pokemon),len(pokemon) # compruebo que se haya perdido ni repetido ningún pokemon

(674, 126, 800)

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

¿Es la media de los puntos totales de los pokemon de agua iguales a los del resto?

H0 : son iguales \
H1 : no son iguales

In [84]:
# Your code here:

ttest_ind(water_pokemon.Total, other_pokemon.Total, equal_var=False)

TtestResult(statistic=-0.6471395988249624, pvalue=0.5183465532236395, df=184.35804823531262)

Write your conclusion below.

- Hay evidencia estadística significativa para afirmar que los puntos totales de los pokemon de agua respecto al resto no son diferentes. Es decir no hay sufiente evidencia para rechazar H0.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

¿Es atq y def igual?

H0 : son iguales \
H1 : no son iguales

In [54]:
from scipy.stats import ttest_rel

In [61]:
# Your code here:

ttest_rel(pokemon.Attack,pokemon.Defense,alternative='two-sided')

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

Describe the results of the test in the cell below.

- Hay evidencia estadística significativa para rechazar H0

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

- ¿Es atq especial y defensa especial iguales?

H0 : son iguales \
H1 : no son iguales

In [87]:
# Your code here:

ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'],alternative='two-sided')

TtestResult(statistic=0.853986188453353, pvalue=0.3933685997548122, df=799)

Describe the results of the test in the cell below.

- No hay suficiente evidencia estadística como para rechazar H0 por lo que ataque especial y defensa especial son significativamente iguales

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

µ = µ1- µ2
µ = 0

Tipo 3 -

H0 : µ = 0 \
H1 : µ ­≠ 0

In [94]:
# Your code here:
   
from scipy.stats import ttest_1samp

rest = pokemon.Attack - pokemon.Defense

ttest_1samp(rest,0,alternative='two-sided')

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: